<% var title = 'Semaphore Web Service API'; %>
<!DOCTYPE html>
<html>
  <head>
    <title><%=title%></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%=title%></h1>
    <h2>Status</h2>
    <p>HTTP RESTful API is operational.</p>
    <h2>Documentation</h2>
    <p>test</p>
    <p>In the case of duplicate name, the value of POST parameters will override the JsonInput and JsonInputFile.</p>
  </body>
</html>